<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{crud.title.main}"></title>
</head>
<body>
	<h1 th:text="#{crud.title.main}"></h1>
	<h3 th:text="${title}"></h3>
	<!--/* 登録・更新コメント */-->
	<p th:if="${complete}" th:text="${complete}" style="color:blue"></p>
	<!--/* ▼▼▼ Form ▼▼▼ */-->
	<form method="post"
		th:action="${quizForm.newQuiz}? @{/quiz/insert} : @{/quiz/update}"
		th:object="${quizForm}">
		<label th:text="#{crud.form.question}"></label><br>
		<textarea rows="5" cols="50" th:field="*{question}"></textarea>
		<br>
		<div th:if="${#fields.hasErrors('question')}" th:errors="*{question}" style="color:red"></div>
		<label th:text="#{crud.form.answer}"></label><br>
		<input type="radio" value="true" th:field="*{answer}" /><span th:text="#{crud.answer.true}"></span>
		<input type="radio" value="false" th:field="*{answer}" /><span th:text="#{crud.answer.false}"></span>
		<br>
		<div th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}" style="color:red"></div>
		<label th:text="#{crud.form.author}"></label><br>
		<input type="text" th:field="*{author}" />
		<br>
		<div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color:red"></div>
		<input th:if="${id}" type="hidden" th:field="*{id}" />
		<input type="submit" value="送信" />
	</form>
	<!--/* ▲▲▲ Form ▲▲▲ */-->
	<br>
	<hr>
	<!--/* ▼▼▼ 新規登録時のみ表示 ▼▼▼ */-->
	<div th:if="${quizForm.newQuiz}" style="margin: 10px">
		<h3><span th:text="#{crud.quiz.list}"></span><a th:href="@{/quiz/play}" th:text="#{crud.quiz.play}"></a><br></h3>
		<!--/* 削除完了コメント */-->
		<p th:if="${delcomplete}" th:text="${delcomplete}" style="color:blue"></p>
		<p th:if="${msg}" th:text="${msg}" style="color:red"></p>
		<!--/* ▼▼▼ クイズ情報が1件でもあれば表示 ▼▼▼ */-->
		<table border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;">
			<tr>
				<th th:text="#{crud.table.id}"></th>
				<th th:text="#{crud.table.question}"></th>
				<th th:text="#{crud.table.answer}"></th>
				<th th:text="#{crud.table.author}"></th>
				<th th:text="#{crud.table.edit}"></th>
				<th th:text="#{crud.table.delete}"></th>
			</tr>
			<tr th:each="obj : ${list}" align="center">
				<td th:text="${obj.id}"></td>
				<td th:text="${obj.question}" align="left"></td>
				<td th:text="${obj.answer} == true?'○':'×'"></td>
				<td th:text="${obj.author}"></td>
				<!--/* 編集ボタン */-->
				<td>
					<form method="get" th:action="@{/quiz/{id}(id=${obj.id})}">
						<input type="submit" value="編集" />
					</form>
				</td>
				<!--/* 削除ボタン */-->
				<td>
					<form method="post" th:action="@{/quiz/delete}">
						<input type="hidden" name="id" th:value="${obj.id}" />
						<input type="submit" value="削除" />
					</form>
				</td>
			</tr>
		</table>
		<!--/* ▲▲▲ クイズ情報が1件でもあれば表示 ▲▲▲ */-->
		<!--/* ▼▼▼ クイズ情報が1件もない場合表示 ▼▼▼ */-->
		<p th:if="${#lists.isEmpty(list)}" th:text="#{crud.table.noRecode}"></p>
		<!--/* ▲▲▲ クイズ情報が1件もない場合表示 ▲▲▲ */-->
	</div>
	<!--/* ▲▲▲ 新規登録時のみ表示 ▲▲▲ */-->
	<!--/* ▼▼▼ 新規登録時でない時に表示 ▼▼▼ */-->
	<p th:unless="${quizForm.newQuiz}">
		<a href="#" th:href="@{/quiz}" th:text="#{crud.page.back}"></a>
	</p>
	<!--/* ▲▲▲ 新規登録時でない時に表示 ▲▲▲ */-->
</body>
</html>